<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false"  pattern="%d{HH:mm:ss.SSS} %highlight{%-5level} - %highlight{%msg}%n{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=green bold, DEBUG=blue bold, TRACE=blue}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="selenium" level="DEBUG" additivity="false">
            <AppenderRef ref="LogToConsole"/>
        </Logger>
        <Root level="ERROR">
            <AppenderRef ref="LogToConsole"/>
        </Root>
    </Loggers>
</Configuration>